body {
  color: #fbc547;
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center; }

h1 {
  color: rgba(221, 221, 221, 0.7); }

a {
  font-weight: bold;
  color: rgba(221, 221, 221, 0.7); }
  a:focus, a:hover {
    color: rgba(187, 187, 187, 0.6); }

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem; }

.profile {
  border-radius: 100px;
  height: 200px;
  width: 200px; }
