---
title: SeuRaul
author: SeuRaul
---

<%= image_tag 'seuraul-profile.jpg', class:"profile", alt:"SeuRaul's profile picture" %>
<h1>Raul "<em style='color: #fbc547'>SeuRaul</em>" Lucena</h1>

<p>I'm a Software Engineer.<br>
Currently focused in back-end development with Ruby on Rails.</p>

<p>You can check more about my work at my <a target="_blank" href="https://www.linkedin.com/in/seuraul">Linkedin profile</a> or <a target="_blank" href="https://stackoverflow.com/cv/seuraul">Stack Overflow CV</a>, and my code at my <a target="_blank" href="https://github.com/seuraul">GitHub</a>.</p>

<p>I'm also a martial artist, writer, photographer, tattoo artist, coffee and meme lover.</p>

<p>You can contact me at <a href="mailto:seuraul.0@gmail.com">seuraul.0@gmail.com</a><br>
or more directly at my <a target="_blank" href="https://t.me/seuraul">Telegram</a></p>